*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: ;
	max-width: 1024px;*/
}

body{
	width: 100%;
	color: #3d3d3d;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #fff;*/
}


.container-header1{
	width: 100%;
	position: fixed;
	background-color: #fff;
	border-bottom: 1px solid gray;

}
.container-header1 .container-header2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: 35px;
	max-width: 1024px;
	padding: 0 10px;
	background-color: orange;

}

.header>a{
	font-size: 23px;

}

.linktopo{ /*estiliza os links do menu*/
	text-transform: uppercase;
	line-height: 18px;
	padding: 0px 15px 10px 15px;
	color: #3d3d3d;
	margin: 0;
	font-weight: 500;
}

.titulo-conteudo{ /*coloca imagem de fundo e ajusta o background*/
	background-image: url(assets/img-fundo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo-descricao{ /*muda o estilo do titulo*/
	color: #fff;
	font-size: 25px;
	background-color: #0a9077b9;
	border: 1px solid;
	padding: 30px 20px;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
}

.quartos{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.quarto{
	margin-right: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #00836a;
	color: #3d3d3d;*/
}

.quarto a {
	color: #333;
}

.quarto a p{
	text-align: center;
}

.quarto:last-child{
	margin: 0;
}

.welcome { /*alinhando os testos da seção bem vindo*/
	text-align: center;
	margin-bottom: 50px;
	padding-top: 50px;
}

.welcome h2{
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
}

.container-sobre{
	text-align: center;
	margin-top: 50px;
}

img {
	width: 100%;
}

#rota {
	text-align: center;
	padding-top: 30px;
}

.descricoes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 50px;
	margin-top: 50px;
	align-items: center;
}

.descricao{
	display: flex;
	width: 45%;
	margin: 0 10px;

	
}

.descricao-img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-left: 10px;
}
 .pousada{
 /*	display: flex;
	align-items: left;
	flex-direction: column;*/
	text-align: left;
	width: 100%;
 }

 .pousada h3{
	 padding: 10px 0;
	 padding-top: 20px;
 }
 
 .rodape{
	/* display: flex;
	 color: #333;*/
	 background-color: orange;
	 text-align: center;
	 padding-top: 10px;
	/* flex-direction: column;*/
	 
 }
.container-contato{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contatos{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 .container-contato img{
	 width: 30px;
	 margin-right: 10px;
 }

 .container-contato a {
	 color: #333;
	 font-weight: 600;
 }